In [60]:
import pandas as pd
import matplotlib.pyplot as plt

In [61]:
aqi_2015_df = pd.read_csv("Resources/aqi_2015.csv")
aqi_2016_df = pd.read_csv("Resources/aqi_2016.csv")
aqi_2017_df = pd.read_csv("Resources/aqi_2017.csv")
aqi_2018_df = pd.read_csv("Resources/aqi_2018.csv")
aqi_2019_df = pd.read_csv("Resources/aqi_2019.csv")
aqi_2020_df = pd.read_csv("Resources/aqi_2020.csv")

In [62]:
aqi_2015_df.head()

,State,County,Year,Days with AQI,Good Days,Moderate Days,Unhealthy for Sensitive Groups Days,Unhealthy Days,Very Unhealthy Days,Hazardous Days,Max AQI,90th Percentile AQI,Median AQI,Days CO,Days NO2,Days Ozone,Days SO2,Days PM2.5,Days PM10
0,Alabama,Baldwin,2015,264,230,33,1,0,0,0,129,53,38,0,0,189,0,75,0
1,Alabama,Clay,2015,112,101,11,0,0,0,0,91,50,32,0,0,0,0,112,0
2,Alabama,Colbert,2015,280,251,29,0,0,0,0,73,51,36,0,0,195,0,85,0
3,Alabama,DeKalb,2015,363,319,43,1,0,0,0,101,52,37,0,0,307,0,56,0
4,Alabama,Elmore,2015,233,223,9,1,0,0,0,115,47,35,0,0,233,0,0,0

In [63]:
# Eric - getting the median AQI, by state, for each year

In [64]:
median_aqi_2015 = aqi_2015_df.groupby("State")["Median AQI"].median()
median_aqi_2015_df = pd.DataFrame(median_aqi_2015)

In [65]:
median_aqi_2016 = aqi_2016_df.groupby("State")["Median AQI"].median()
median_aqi_2016_df = pd.DataFrame(median_aqi_2016)

In [66]:
median_aqi_2017 = aqi_2017_df.groupby("State")["Median AQI"].median()
median_aqi_2017_df = pd.DataFrame(median_aqi_2017)

In [67]:
median_aqi_2018 = aqi_2018_df.groupby("State")["Median AQI"].median()
median_aqi_2018_df = pd.DataFrame(median_aqi_2018)

In [68]:
median_aqi_2019 = aqi_2019_df.groupby("State")["Median AQI"].median()
median_aqi_2019_df = pd.DataFrame(median_aqi_2019)

In [69]:
median_aqi_2020 = aqi_2020_df.groupby("State")["Median AQI"].median()
median_aqi_2020_df = pd.DataFrame(median_aqi_2020)

In [70]:
# Merging each median AQI for each year into a single DataFrame
median_aqi_by_year_df = pd.merge(median_aqi_2015_df, median_aqi_2016_df, how='left', on='State')
median_aqi_by_year_df = median_aqi_by_year_df.rename(columns={"Median AQI_x": "2015", "Median AQI_y": "2016"})

In [71]:
median_aqi_by_year_df = pd.merge(median_aqi_by_year_df, median_aqi_2017_df, how='left', on='State')
median_aqi_by_year_df = median_aqi_by_year_df.rename(columns={"Median AQI": "2017"})

In [72]:
median_aqi_by_year_df = pd.merge(median_aqi_by_year_df, median_aqi_2018_df, how='left', on='State')
median_aqi_by_year_df = median_aqi_by_year_df.rename(columns={"Median AQI": "2018"})

In [73]:
median_aqi_by_year_df = pd.merge(median_aqi_by_year_df, median_aqi_2019_df, how='left', on='State')
median_aqi_by_year_df = median_aqi_by_year_df.rename(columns={"Median AQI": "2019"})

In [74]:
median_aqi_by_year_df = pd.merge(median_aqi_by_year_df, median_aqi_2020_df, how='left', on='State')
median_aqi_by_year_df = median_aqi_by_year_df.rename(columns={"Median AQI": "2020"})

In [75]:
# median AQI for each state by each year
median_aqi_by_year_df

                      2015  2016  2017  2018  2019  2020
State
Alabama               38.5  40.0  37.0  35.0  39.0  35.0
Alaska                24.5  31.0  22.0  23.5  19.0  13.0
Arizona               43.0  44.0  45.0  44.0  45.0  45.0
Arkansas              34.0  36.0  38.0  35.0  35.0  33.0
California            45.5  44.0  46.0  45.0  42.0  41.0
Colorado              44.0  44.0  44.0  46.0  44.0  44.5
Connecticut           41.0  41.0  39.5  37.5  40.0  39.5
Country Of Mexico     73.0  63.0  50.0  55.5  57.5  41.0
Delaware              42.0  41.0  41.0  40.0  42.0  39.0
District Of Columbia  47.0  47.0  51.0  44.0  44.0  38.0
Florida               35.0  38.0  37.0  35.0  36.0  40.0
Georgia               38.0  40.0  38.0  35.0  39.0  34.0
Hawaii                29.5  26.0  26.0  24.5  15.5  14.5
Idaho                 21.0  25.0  28.0  28.0  23.0  23.0
Illinois              38.5  38.0  40.0  40.0  41.0  40.0
Indiana               39.0  38.5  39.0  35.0  35.5  37.0
Iowa                  36.0  36.0  39.0  39.0  37.0  35.5
Kansas                35.0  36.0  37.0  36.0  36.0  36.0
Kentucky              39.0  39.0  39.5  38.0  39.0  38.0
Louisiana             36.5  37.5  37.0  35.0  34.0  33.0
Maine                 35.5  33.0  35.0  36.0  34.0  34.5
Maryland              44.0  42.0  41.0  39.0  40.0  37.0
Massachusetts         37.0  36.0  37.0  37.0  37.0  38.0
Michigan              39.5  38.0  38.0  38.0  36.0  37.0
Minnesota             33.0  30.0  32.5  32.0  30.0  35.0
Mississippi           35.0  37.0  36.0  37.0  39.0  37.5
Missouri              39.0  38.0  40.0  38.5  38.5  38.0
Montana               30.0  26.0  32.0  28.0  25.0  20.0
Nebraska              24.0  23.0  26.0  29.0  25.0  30.0
Nevada                43.0  41.0  43.0  44.0  41.0  40.0
New Hampshire         38.0  36.0  35.0  36.0  34.0  37.0
New Jersey            39.0  39.0  38.0  38.0  39.5  38.5
New Mexico            40.0  41.5  44.0  44.5  43.5  40.5
New York              35.0  36.0  34.0  34.0  35.0  36.0
North Carolina        40.0  40.0  39.0  38.0  39.0  35.0
North Dakota          35.0  32.0  35.0  36.0  33.5  35.0
Ohio                  41.0  40.0  39.0  39.0  40.0  39.0
Oklahoma              38.0  39.0  39.0  38.0  38.0  39.0
Oregon                30.0  22.5  30.0  30.0  25.0  23.0
Pennsylvania          44.0  40.5  41.5  37.5  38.0  37.0
Puerto Rico           20.0  21.0  24.0  16.5  19.0  18.0
Rhode Island          38.0  36.0  33.0  32.0  36.0  38.0
South Carolina        37.0  39.0  38.0  36.0  40.0  35.0
South Dakota          38.0  34.5  32.5  33.5  35.5  37.0
Tennessee             37.0  39.0  37.0  34.0  37.0  36.0
Texas                 37.0  37.0  38.0  35.0  38.0  36.0
Utah                  43.5  44.0  45.0  46.0  44.0  44.0
Vermont               33.0  35.0  35.0  36.0  35.5  39.0
Virgin Islands        37.5  27.0  19.5  24.0  20.0  16.5
Virginia              36.0  33.0  36.0  32.5  37.0  34.0
Washington            25.0  22.0  26.5  23.5  23.0  18.0
West Virginia         35.0  34.5  35.5  32.5  35.0  34.5
Wisconsin             38.5  36.0  37.0  39.5  36.0  39.0
Wyoming               41.0  41.5  44.0  42.0  41.5  40.0

In [77]:
# Rachel
# Moderate Days data by County/State for each year

# Extract columns: "State", "County", "Year", "Days with AQI", "Moderate Days"

# 2015
ModerateDays_2015_df = aqi_2015_df[["State", "County", "Year", "Days with AQI", "Moderate Days"]]

# 2016
ModerateDays_2016_df = aqi_2016_df[["State", "County", "Year", "Days with AQI", "Moderate Days"]]

# 2017
ModerateDays_2017_df = aqi_2017_df[["State", "County", "Year", "Days with AQI", "Moderate Days"]]

# 2018
ModerateDays_2018_df = aqi_2018_df[["State", "County", "Year", "Days with AQI", "Moderate Days"]]

# 2019
ModerateDays_2019_df = aqi_2019_df[["State", "County", "Year", "Days with AQI", "Moderate Days"]]

# 2020
ModerateDays_2020_df = aqi_2020_df[["State", "County", "Year", "Days with AQI", "Moderate Days"]]

ModerateDays_2020_df.head()

     State   County  Year  Days with AQI  Moderate Days
0  Alabama  Baldwin  2020            168              9
1  Alabama     Clay  2020             58              4
2  Alabama   DeKalb  2020            242              8
3  Alabama   Elmore  2020            149              0
4  Alabama   Etowah  2020            169              8

In [78]:
# Rachel
# CO Days data by County/State for each year
# Extract columns: "State", "County", "Year", "Days with AQI", "Moderate Days"

# 2015
DaysCO_2015_df = aqi_2015_df[["State", "County", "Year", "Days with AQI", "Days CO"]]

# 2016
DaysCO_2016_df = aqi_2016_df[["State", "County", "Year", "Days with AQI", "Days CO"]]

# 2017
DaysCO_2017_df = aqi_2017_df[["State", "County", "Year", "Days with AQI", "Days CO"]]

# 2018
DaysCO_2018_df = aqi_2018_df[["State", "County", "Year", "Days with AQI", "Days CO"]]

# 2019
DaysCO_2019_df = aqi_2019_df[["State", "County", "Year", "Days with AQI", "Days CO"]]

# 2020
DaysCO_2020_df = aqi_2020_df[["State", "County", "Year", "Days with AQI", "Days CO"]]

DaysCO_2020_df.head()

     State   County  Year  Days with AQI  Days CO
0  Alabama  Baldwin  2020            168        0
1  Alabama     Clay  2020             58        0
2  Alabama   DeKalb  2020            242        0
3  Alabama   Elmore  2020            149        0
4  Alabama   Etowah  2020            169        0

In [ ]:
# Moderate Days Groupby